<footer class="text-muted">
  <div class="container">

    <p class="float-right">    
        <a href="#">Back to top</a> / 
	    <%= link_to "View all Portfolio Items", portfolios_path %>
    </p>
    <p>
       <%= @copyright %>       	
    </p>         

  </div>
</footer>