<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I think the world can be an even greater place to be than it already is</p>
  <p class="lead">To help people to contribute to that I'm developing a platform</p>
  <p class="lead">This website is the result of me learning to develop web applications using Ruby on Rails</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>    
  </p>
</div>


